<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-route"></i>
                <b>List Of Daily Routes</b>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hovered">
                    <tr>
                        <th class="fit">Id</th>
                        <th>Weekday</th>
                        <th class="fit">Route Sites</th>
                    </tr>
                    @foreach (Weekday wd in ViewBag.Weekdays)
                    {
                        <tr>
                            <td class="fit">@wd.Id</td>
                            <td>@wd.DayName</td>
                            <td class="fit">
                                <a asp-controller="Routes" asp-action="Sites" asp-route-id="@wd.Id" class="btn btn-primary rounded-pill btn-sm">
                                    <i class="fa fa-store-alt mr-2"></i> Delivery Sites
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body py-5 text-center">
                <img src="~/img/undraw/route.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>