<div class="row">
    <div class="col-12">
        <div class="card card-icon">
            <div class="row no-gutters">
                <div class="col-auto card-icon-aside bg-warning">
                    <i class="fas fa-exclamation-triangle text-white"></i>
                </div>
                <div class="col p-4">
                    <h1>Error: Unauthorized user</h1>
                    <p class="text-body">You need to login as an authorized user to be able to set a route</p>
                    <a class="mt-4 btn-light btn rounded-pill" asp-action="Index" asp-controller="Auth">
                        <i class="fa fa-user mr-4"></i> Go to Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>