<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreRoutes</title>
    <link rel="stylesheet" href="~/css/theme.css">
</head>
<body class="nav-fixed">
    <nav class="topnav navbar navbar-expand shadow navbar-dark bg-dark px-5">
        <button class="btn btn-icon btn-transparent-light" id="sidebarToggle">
            <i class="fal fa-bars"></i>
        </button>
        <a asp-action="Index" asp-controller="Home" class="navbar-brand active">Core Routes</a>
        <ul class="navbar-nav align-items-center ml-auto">
            <li class="nav-item">
                <a class="btn btn-icon btn-transparent-light" asp-controller="Auth" asp-action="Index">
                    <i class="fas fa-user"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="btn btn-icon btn-transparent-light"><i class="fas fa-cog"></i></a>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sidenav shadow-right sidenav-dark">
                <div class="sidenav-menu">
                    <div class="nav accordion" id="accordionSidenav">

                        <div class="sidenav-menu-heading">Daily Work</div>
                        <a class="nav-link" asp-action="Index" asp-controller="Routes">
                            <div class="nav-link-icon"><i class="fas fa-route"></i></div>
                            <span>Set Route</span>
                        </a>
                        <a class="nav-link" asp-action="Index" asp-controller="Choose">
                            <div class="nav-link-icon"><i class="fas fa-map-marked-alt"></i></div>
                            <span>Choose Route</span>
                        </a>

                        <!--COLAPSE MENU CATALOGS-->
                        
                        <div class="sidenav-menu-heading">Administracion</div>
                        <a class="nav-link" asp-controller="Users" asp-action="Index">
                            <div class="nav-link-icon"><i class="fas fa-user-friends"></i></div>
                            <span>Users</span>
                        </a>
                        <a class="nav-link" asp-controller="Company" asp-action="Index">
                            <div class="nav-link-icon"><i class="fas fa-store-alt"></i></div>
                            <span>Companies</span>
                        </a>
                        <a class="nav-link" asp-controller="Services" asp-action="Index">
                            <div class="nav-link-icon"><i class="fas fa-box-check"></i></div>
                            <span>Services Types</span>
                        </a>
                        <a class="nav-link" asp-controller="Vehicles" asp-action="Index">
                            <div class="nav-link-icon"><i class="fas fa-truck-plow"></i></div>
                            <span>Vehicles</span>
                        </a>
                        

                        

                    </div>
                </div>
                <div class="sidenav-footer">
                    <div class="sidenav-footer-content">
                        <span class="sidenav-footer-subtitle">Create By:</span>
                        <p class="sidenav-footer-title">Hematechnologies</p>
                    </div>
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container p-5">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/theme.js"></script>
    <script src="~/js/fontawesome-pro.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
