@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12 text-center mb-5">
        <h1 class="display-4">Welcome to CoreRoute Manager</h1>
    </div>
    <div class="col-4">
        <div class="card lift">
            <div class="card-header text-center bg-white">
                <b>Set Your Routes</b>
            </div>
            <div class="card-body py-5">
                <img src="~/img/undraw/route.png" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card lift">
            <div class="card-header text-center bg-white">
                <b>Drivers Choose Routes</b>
            </div>
            <div class="card-body py-5">
                <img src="~/img/undraw/delivery.png" class="img-fluid py-3">
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card lift">
            <div class="card-header text-center bg-white">
                <b>Create and Edit Companies</b>
            </div>
            <div class="card-body py-5">
                <img src="~/img/undraw/company.png" class="img-fluid">
            </div>
        </div>
    </div>
    
</div>
